<html ng-app="myGame">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">
        <title>Se7en</title>
          
        <link href="http://fonts.googleapis.com/css?family=Montserrat:300,400,700" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Muli:300,400" rel="stylesheet" type="text/css">
    
        <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="css/main.css">
    </head>
    
    <body ng-controller="TableController">
        <h1>Points: {{points}} </h1>
        <h1>Timer:<span id="time">01:00</span></h1> 
        <div class="container-fluid inner">
            <table class="tableizer-table">
                <tbody ng-repeat="test in testArr">
                    <tr>
                        <td class="focus" ng-repeat="t1 in test track by $index" ng-click="clickElement(t1, $event, $parent.$index, $index)" ng-class="getClass(t1.isSelected)"><a id="selection" href="#" style="text-decoration:none">{{t1.value}}</a></td>
                    </tr>
                </tbody>
            </table>
            <button id="newNumbersBtn" type="button" ng-click="newNumber()">Get me new numbers!</button>
            <div class="instructions" ng-show="timeleft">
                <h1>Instructions: Make 7.</h1>
                <button id="startbtn" type="button" ng-click="start()" onclick="document.getElementById('startbtn').style.display='none'; document.getElementById('newNumbersBtn').style.display='block';">Start!</button>
            </div>
            <div class= "instructions" ng-hide="timeleft">
                <h1>Your score: {{points}}</h1>
                <a href ="http://ivanshen.me/Se7en"><button type="button">Play Again</button></a>
            </div>
            
        </div>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-beta1/jquery.min.js"></script>
        <script src="js/app.js"></script>
    </body>
</html>

